<section>
  <nav class="container default navbar navbar-dark bg-dark">
    <form class="">
      <h3>Pesquise seu livro</h3>
      <div class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Escreva aqui..."
        aria-label="Search"
        />
        <button (click)="getLivros()" class="btn btn-success">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </nav>
  <br />
  <table class="container default table-hover table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Autor</th>
        <th scope="col">Valor</th>
        <th scope="col">Data de Publicação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.id }}</td>
        <td>{{ livro.nome }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.valor }}</td>
        <td>{{ livro.dataPublicacao }}</td>
      </tr>
    </tbody>
  </table>
</section>
